<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../javascripts/carousel.js" type="text/javascript"></script>

    <script src="../javascripts/lightbox.js" type="text/javascript"></script>

    <script src="../javascripts/like_comment.js" type="text/javascript"></script>

    <!-- <link rel="stylesheet" type="text/css" href="../stylesheets/firstwebpage.css"> -->

    <!-- Bootstrap Core CSS -->
    <link href="../stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../stylesheets/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../stylesheets/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../stylesheets/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../stylesheets/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        @media screen and (max-width: 767px) {
            .header {
                font-size:25px !important;
            }
        }
        #carousel_ul li {
            color: black;
            float: left;
            font-size: 200%;
            text-align: center;
            text-decoration: none;
            width: 20%;
        }
        #carousel_ul li a {
            text-decoration: none;
            color: lightslategrey;
            
        }

        #carousel_inner ul {
            list-style-type: none;
        }
        #carousel_inner {
            background: none repeat scroll 0 0 #f0f0f0;
            float: left;
            overflow: hidden;
            width: 55%;
        }

        #carousel_ul {
            list-style-type: none;
            position: relative;
            margin: 0px;
            padding:0px;
        }

        #carousel_ul li {  
            background: none repeat scroll 0 0 #000000;
            float: left;
            height: 110px;
            padding: 0;
            width: 200px;
        }
          
        #carousel_ul li img {  
            border: 0 none;
            cursor: pointer;
            height: 100%;
            margin-bottom: -4px;
            width: 100%;
        }  

        #left_scroll, #right_scroll {  
            background: none repeat scroll 0 0 white;
            float: left;
            margin: 15px;
            width: 4.5%;
        }

        #left_scroll img, #right_scroll img {   
            cursor: pointer;
            height: 80px;
        }

        #container {
            float: left;
            width: 86%;
            margin:4% 0 0 27%;
        }

        .lightbox-background {
            position: absolute;
            background: #000;
            opacity: 0.9;
            top: 0px;
            left: 0px;
            height: 217%;
            width: 100%;
            display: none;
        }

        .lightbox-container {
            position: absolute;
            left: 30%;
            top: 20%;
            display: none;
            z-index:9999;

        }

        #closeBtn {
            float: right;
        }

        #numofpages {
            float: left;
            margin: 1% 0 0 40%;
        }

        #numofpages a {
            margin-left: 14%;
        }

        .active {
            color:red;
        }
        /*second carousel css*/
        #carousel_ul_1 li {
            color: black;
            float: left;
            font-size: 200%;
            text-align: center;
            text-decoration: none;
            width: 20%;
        }
        #carousel_ul_1 li a {
            text-decoration: none;
            color: lightslategrey;
            
        }

        #carousel_inner_1 ul {
            list-style-type: none;
        }
        #carousel_inner_1 {
            background: none repeat scroll 0 0 #f0f0f0;
            float: left;
            overflow: hidden;
            width: 55%;
        }

        #carousel_ul_1 {
            list-style-type: none;
            position: relative;
            margin: 0px;
            padding:0px;
        }

        #carousel_ul_1 li {  
            background: none repeat scroll 0 0 #000000;
            float: left;
            height: 110px;
            padding: 0;
            width: 200px;
        }
          
        #carousel_ul_1 li img {  
            border: 0 none;
            cursor: pointer;
            height: 100%;
            margin-bottom: -4px;
            width: 100%;
        }  

        #left_scroll_1, #right_scroll_1 {  
            background: none repeat scroll 0 0 white;
            float: left;
            margin: 15px;
            width: 4.5%;
        }

        #left_scroll_1 img, #right_scroll_1 img {   
            cursor: pointer;
            height: 80px;
        }

        #container_1 {
            float: left;
            width: 86%;
            margin:4% 0 0 34%;
        }

        .lightbox-background_1 {
            position: absolute;
            background: #000;
            opacity: 0.9;
            top: 0px;
            left: 0px;
            height: 217%;
            width: 100%;
            display: none;
        }

        .lightbox-container_1 {
            position: absolute;
            left: 30%;
            top: 20%;
            display: none;
            z-index:9999;

        }

        #closeBtn_1 {
            float: right;
        }

        #numofpages_1 {
            float: left;
            margin: 1% 0 0 21%;
        }

        #numofpages_1 a {
            margin-left: 3%;
        }
        /********** Dashboard page Lightbox comment box CSS ************/

        .comment-container {
            position: absolute;
            left: 30%;
            top: 20%;
            display: none;
            z-index:9999;
        }
        .comment-background {
            position: absolute;
            background: #000;
            opacity: 0.9;
            top: 0px;
            left: 0px;
            height: 217%;
            width: 100%;
            display: none;
        }
        .closeBtn_comment{
            margin: -24% 0% 0% 96%
        }
        /*************Dashboard CSS for All USer Images*******************/
        .carousel_hover:hover {
            display: block;
        }
        .like {
            opacity: 0
        }
        .carousel_hover:hover .like {
            opacity: 1
        }
        .carousel_hover:hover img {
            opacity: 0.4;
        }
        .like_button{
            position: absolute; 
            bottom: 0px; 
            font-size: 50%; 
            margin: 0 0 0 14%;
        }
        .like_button a{
            color:white;
        }
        .comment_click {
            position: absolute; 
            bottom: 0px; 
            font-size: 50%; 
            margin: 0 0 0 47%;
        }
        .comment_click a{
            color:white;
        }
        .comment-container{
            float:left; 
            position:absolute;
        }
    </style>

</head>

<body>

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav nav-tabs">
                    <li><div class="col-md-4 col-xs-12"><a class = "header" style = "font-size:250%;  text-decoration:none; postion:relative;" href="/dashboard">Dashboard</a></div></li>
                    <li><div class="col-md-4 col-xs-12"><a class = "header" style = "font-size:250%; text-decoration:none; postion:relative;" href="/profile">Profile(<%=username%>)</a></div></li>
                    <li><div class="col-md-4 col-xs-12"><a class = "header" style = "font-size:250%; text-decoration:none; postion:relative;" href="/logout">Logout</a></div></li>
                </ul>
                
            </div>

            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="tables.html"><i class="fa fa-table fa-fw"></i> Tables</a>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> Forms</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="panels-wells.html">Panels and Wells</a>
                                </li>
                                <li>
                                    <a href="buttons.html">Buttons</a>
                                </li>
                                <li>
                                    <a href="notifications.html">Notifications</a>
                                </li>
                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>
                                <li>
                                    <a href="icons.html"> Icons</a>
                                </li>
                                <li>
                                    <a href="grid.html">Grid</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="blank.html">Blank Page</a>
                                </li>
                                <li>
                                    <a href="login.html">Login Page</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

                <div class="col-md-12 col-xs-4">
                    <% if( allImages.length >= 5 ) { %>
                        <div id="container">
                            <div id = "left_scroll" ><img src="../images/left.png" /></div>
                                <div id="carousel_inner">
                                    <ul id="carousel_ul">
                                        <% for(var i = 0; i < allImages.length ; i++) {%>
                                            <li>
                                                <a href="#" class="lightbox">
                                                    <img src="/uploads/dashboard_images/<%= allImages[i].img_url %>" alt=""/>
                                                </a>
                                            </li>
                                        <% } %>
                                    </ul>
                                </div>
                            <div id="right_scroll"><img src="../images/right.png"/></div>
                        </div>

                        <div id="numofpages"></div>
                    
                        <div class="lightbox-container">
                            <button type="button" id="closeBtn">X</button>
                            <img id="myImage" src="" alt=""/>
                        </div>

                        <div class="lightbox-background">&nbsp;</div>
                    <% } else { %>
                        <% for(var i = 0; i < allImages.length ; i++) {%>
                            <li style="list-style-type:none">
                                <a href="#" class="lessthanfive">
                                    <img style="width: 75%; height:150px;float:left" src="/uploads/dashboard_images/<%= allImages[i].img_url %>" alt=""/>
                                </a>
                            </li>
                        <% } %>
                    <% } %>
                    
                    <form action="/dashboardupload" method = "POST" enctype="multipart/form-data" >
                        <div class = "buttons">
                            <input style="margin: 17% 0% 0%; float: left;" type="file" name="image" accept="image/*">
                            <input style="margin: 17% 0% 0%; float: left;" type = "submit" value = " Upload" name = "submit">
                        </div>
                    </form>
                </div>
                <% if( allUsersImages.length >= 5 ) { %>
                    <div id="container_1">
                        <div id = "left_scroll_1" style="margin:2% 0% 0% -6%"><img src="../images/left.png" /></div>
                            <div id="carousel_inner_1">
                                <ul id="carousel_ul_1">
                                    <% for(var i = 0; i < allUsersImages.length ; i++) {%>
                                        <li class = "carousel_hover">
                                            <a href="#" class="lightbox">
                                                <img  src="/uploads/dashboard_images/<%= allUsersImages[i].img_url %>" alt=""/>
                                            </a>
                                            <div class="like">
                                                <div class = "like_button">
                                                    <a href = "/like">(<%=likeCount%>)
                                                        Like
                                                    </a>
                                                </div>
                                                <div class = "comment_click">
                                                    <a href = "#">
                                                        Comment
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    <% } %>
                                </ul>
                            </div>
                        <div id="right_scroll_1"><img src="../images/right.png"/></div>
                    </div>

                    <div id="numofpages_1"></div>
                
                    <div class="lightbox-container_1">
                        <button type="button" id="closeBtn_1">X</button>
                        <img id="myImage_1" src="" alt=""/>
                    </div>

                    <div class="lightbox-background_1">&nbsp;</div>
                <% } else { %>
                    <% for(var i = 0; i < allUsersImages.length ; i++) {%>
                        <li style="list-style-type:none">
                            <a href="#" class="lessthanfive">
                                <img style="width: 75%; height:150px; float:left" src="/uploads/dashboard_images/<%= allUsersImages[i].img_url %>" alt=""/>
                            </a>
                        </li>
                    <% } %>
                <% } %>
                <div class="comment-container">
                    <form action = "/comment" method = "POST">
                        <textarea rows="4" cols="50" name="comment" form="usrform" placeholder="Comment here..."></textarea>
                        <button type="button" class = "closeBtn_comment">X</button>
                        <input type = "submit" value = "submit">
                    </form>
                </div>

                <div class="comment-background">&nbsp;</div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../javascripts/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../javascripts/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../javascripts/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../javascripts/raphael-min.js"></script>
    <script src="../javascripts/morris.min.js"></script>
    <script src="../javascripts/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../javascripts/sb-admin-2.js"></script>

    

</body>

</html>
